
#main-container{
    background-color: ghostwhite;
}
.poster-class{
    margin-top: 20rem;
    margin-left: 1.5rem;
    padding: 2rem;
    position: absolute;
    z-index: 1;
    width: 40%;
    text-align: right;
    font-family: Srisakdi;
}

#poster-text{
    font-size: 5vw;
    margin-bottom: 0rem;
    animation-name: text-appear;
    animation-duration: 10s;
    font-family: Srisakdi;
}

#poster-footer{
    font-size: 1.5vw;
    animation-name: footer-appear;
    animation-duration: 10s;
}

@keyframes text-appear {
    0% {
        opacity: 0;
        top: 0rem;
    }
    25% {
        color: lightgray;
        top: 0rem;
    }
    75% {
        color: darkgray;
        top: 5rem;
    }
    100% {
        color: black;
        top: 0rem;
    }
}

@keyframes footer-appear {
    0% {
        opacity: 0;
    }
    75% {
        color: lightgray;
        top: 5rem;
    }
    100% {
        color: black;
        top: 0rem;
    }
}

.quote-class{
    margin-top: 7rem;
    margin-left: 3rem;
    padding: 2rem;
    position: absolute;
    z-index: 1;
    border: 0.1rem solid black;
    width: 25%;
    font-family: Caveat;
}

#quote-text{
    text-align: left;
    font-size: 2.5vw;
    color: black;
}

#quote-footer{
    text-align: right;
    color: green;
}

.img-fluid{
    max-height: 100%;
}

.content-section{
    margin: 2rem;
}

#navigation-bar{
    position: fixed;
    width:100%;
    z-index: 2;
}

.container-fluid{
    border-top: 0.01rem solid lightgray;
    padding-top: 2rem;
    font-family: Cabin Condensed;
}

.container-fluid .row{
    padding-top: 1rem;
}

.card{
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.19), 0 1rem 1rem rgba(0,0,0,0.23);
    width: 18rem;
    margin-bottom: 2rem;
}

.card .card-body .card-text{
    text-align: center;
}

.poem-class{
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 2rem;
    border: 0.01rem solid lightgray;
    font-size: 0.8rem;
    text-align: center;
    font-family: Caveat;
}

#poem-text{
    font-size: 1.5rem;
}

#poem-footer{
    font-size: 1.2rem;
    text-align: right;
}

#more-info div{
    align-self: center;
    text-align: center;
}

#more-info p{
    font-family: Gloria Hallelujah;
    font-size: 2rem;
    font-color: green;
}

#page-footer{
    color:white;
    background-color:gray;
    text-align: center
}

@media (max-width: 900px) {
    .quote-class{
        margin-top: 7rem;
        margin-left: 2rem;
        padding: 1rem;
    }

    #quote-text{
        text-align: left;
        font-size: 1.4rem;
    }

    #quote-footer{
        text-align: right;
        font-size: 1rem;
    }

    .poster-class{
        margin-top: 18rem;
        margin-left: 1.5rem;
        padding: 1rem;
    }
}

@media (max-width: 768px) {
    .quote-class{
        margin-top: 6rem;
        margin-left: 2rem;
        padding: 1rem;
    }

    #quote-text{
        text-align: left;
        font-size: 1.2rem;
    }

    #quote-footer{
        text-align: right;
        font-size: 1rem;
    }

    .poster-class{
        margin-top: 15rem;
        margin-left: 1.5rem;
        padding: 1rem;
    }
}

@media (max-width: 576px){
    .quote-class{
        visibility: hidden;:
    }

    .poster-class{
        margin-top: 10rem;
        margin-left: 1.5rem;
        padding: 2rem;
    }
}
@media (max-width: 400px){
    .poster-class{
        visibility: hidden;:
    }
}
@media (max-width: 200px){
    .quote-class{
        visibility: hidden;:
    }
    .img-fluid{
        margin-top: 1rem;
    }
}
@media (max-width: 150px){
    .quote-class{
        visibility: hidden;:
    }
    .img-fluid{
        margin-top: 2rem;
    }
}
