
#main-container{
    background-color: ghostwhite;
}

.poster-class{
    margin-top: 25%;
    padding: 4%;
    position: absolute;
    z-index: 1;
    width: 40%;
    text-align: right;
    font-family: Srisakdi;
}

#poster-text{
    font-size: 5vw;
    margin-bottom: 0rem;
    animation-name: text-appear;
    animation-duration: 10s;
}

#poster-footer{
    animation-name: footer-appear;
    animation-duration: 10s;
}

@keyframes text-appear {
    0% {
        opacity: 0;
    }
    25% {
        color: lightgray;
    }
    75% {
        color: darkgray;
    }
    100% {
        color: black;
    }
}

@keyframes footer-appear {
    0% {
        opacity: 0;
    }
    75% {
        color: lightgray;
    }
    100% {
        color: black;
    }
}

.quote-class{
    margin-top: 10%;
    margin-left: 5%;
    padding: 2%;
    position: absolute;
    z-index: 1;
    border: 0.1rem solid black;
    width: 25%;
    font-family: Caveat;
}

#quote-text{
    text-align: left;
    font-size: 2.5vw;
    color: black;
}

#quote-footer{
    text-align: right;
    color: green;
}

.content-section{
    margin: 3%;
}

.container-fluid{
    border-top: 0.01rem solid lightgray;
    padding-top: 2rem;
    font-family: Cabin Condensed;
}

.container-fluid .row{
    padding-top: 2%;
}

.card{
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.19), 0 1rem 1rem rgba(0,0,0,0.23);
    width: 18rem;
    margin-bottom: 5%;
}

.card .card-body .card-text{
    text-align: center;
}

.poem-class{
    margin: auto 3% auto 3%;
    padding: 3%;
    border: 0.01rem solid lightgray;
    text-align: center;
    font-family: Caveat;
}

#poem-text{
    font-size: 1.5rem;
}

#poem-footer{
    font-size: 1.2rem;
    text-align: right;
}

#more-info{
    margin-bottom: 0%;
    padding-bottom: 4%;
}

#more-info div{
    align-self: center;
    text-align: center;
}

#more-info p{
    font-family: Gloria Hallelujah;
    font-size: 2rem;
    font-color: green;
}

#page-footer{
    color:white;
    background-color:gray;
    text-align: center
}

@media (max-width: 575px) {
    .quote-class{
        visibility: hidden;
    }
    .poster-class{
        visibility: hidden;
    }
}

